<div class="b-example-divider"></div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <img class="logo bi me-2" height="100"
                    alt="footerImg">
        
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a class="" href="https://www.instagram.com/kevcleanedit/"><i class="socials bi bi-instagram social-logos"></i></a>
        <a class="" href="https://www.facebook.com/profile.php?id=100089575480072"><i class="socials bi bi-facebook social-logos"></i></a>
      </ul>
    </footer>
  </div>