
<div class="background">
  <main>
    <div class="container">
      <div class="image-container">
        <img class="image-before slider-image"  src="../../aassets/kia-before-1.jpg" alt="color photo" />
        <img class="image-after slider-image"  src="../../assets/kia-after-1.jpg" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider" />
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">

      <h2 class="featurette-heading fw-normal lh-1 p-3">Transform Your Ride</h2>
      <p class="lead">From Grime to Gleam – Experience the Full Interior and Exterior Revamp** Our mobile detailing service leaves no surface untouched. We deep clean your car's exterior and interior, removing stubborn dirt, grime, and stains, restoring that showroom shine. See how we turn your everyday vehicle into a head-turner with a professional touch.
      </p>
    </div>
  </main>
  <hr class="featurette-divider">
  <main class="main2">
    <div class="container2">
      <div class="image-container2">
        <img class="image-before2 slider-image2" alt="" alt="color photo" />
        <img class="image-after2 slider-image2" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider2" />
      <div class="slider-line2" aria-hidden="true"></div>
      <div class="slider-button2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Lawn Equipment Revival</h2>
      <p class="lead">Maximize Efficiency and Longevity with a Thorough Deep Clean** A clean machine runs smoother and lasts longer. Our lawnmower detailing service removes caked-on dirt, grass clippings, and debris that can cause performance issues. We take care of your equipment so it performs at its best, season after season.</p>
    </div>
  </main>

  <hr class="featurette-divider">

  <main>
    <div class="container3">
      <div class="image-container3">
        <img class="image-before3 slider-image3" alt="" alt="color photo" />
        <img class="image-after3 slider-image3" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider3" />
      <div class="slider-line3" aria-hidden="true"></div>
      <div class="slider-button3" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Boat Detailing Perfection</h2>
      <p class="lead">Bring Your Boat Back to Life with Comprehensive Detailing Services** Salt, water, and debris can take a toll on your boat’s exterior. Our expert mobile boat detailing service provides a thorough clean that protects your investment and enhances its appearance, so you can set sail in style without a worry.</p>
    </div>
  </main>
</div>

