  <div class="row featurette">
    <div class="text col-md-7 order-md-2 m-auto">
      <h2 class="featurette-heading fw-normal lh-1 oswald-font">Premium Mobile Detailing with a Personal Touch <span class="text-body-secondary"></span></h2>
      <p class="lead">Welcome to Kev Cleaned It! My name is Kevin, and I started this mobile detailing business because I believe in delivering more than just a clean car — I believe in delivering an exceptional experience. As someone who values attention to detail, I take pride in treating every vehicle as if it were my own. Whether it’s a routine wash or a full detail, my goal is to make your car feel brand new, wherever you are.</p>
    </div>
    <div class="image col-md-5 order-md-1">
      <div class="image-frame">
        <div class="image-container">
          <img src="assets/car1.jpg" alt="Car in detail shop" />
        </div>
      </div>
      
    </div>
  </div>