  <div class="row featurette">
    <div class="text col-md-7 order-md-2 m-auto">
      <h2 class="featurette-heading fw-normal lh-1">Serving Rockland and the surrounding areas... <span class="text-body-secondary"></span></h2>
      <p class="lead">Section About Your Story & Services...</p>
    </div>
    <div class="image col-md-5 order-md-1">
      <div class="image-frame">
        <div class="image-container">
          <img src="assets/car1.jpg" alt="Car in detail shop" />
        </div>
      </div>
      
    </div>
  </div>