<div class="hero-section d-flex align-items-center justify-content-center text-center">
    <div class="hero-content">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Malibu Detailing Logo" height="200">
      </a>
      <h1 class="text-uppercase title">Kev Cleaned It</h1>
      <h2 class="text-white">Convenient, high-quality detailing at your home, office, or anywhere in between.</h2>
      <p class="text-white">Top-tier service with the flexibility of mobile convenience</p>
      <button class="m-5 btn-danger btn-lg" onclick="document.getElementById('contact').scrollIntoView({behavior: 'smooth'});">Get Your Estimate</button>
    </div>
  </div>
  