@import '../../button';

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 40px;
    // box-shadow: inset 0 1em 1.5em rgba(0, 0, 0, 0.25), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.30);
  }
  
  .contact-banner {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #text {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: black;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    background-color: #f8f8f8;
    transition: border-color 0.2s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #5cdb95;
    outline: none;
  }
  
  .submit-button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .alert {
    font-size: 16px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    #text {
      font-size: 28px;
      line-height: 38px;
    }
  
    .form {
      padding: 15px;
    }
  
    .submit-button {
      font-size: 16px;
      padding: 10px;
    }
  }
  
  @media (max-width: 425px) {
    #text {
      font-size: 22px;
      line-height: 32px;
    }
  
    .form {
      padding: 10px;
    }
  
    .submit-button {
      font-size: 14px;
    }
  }
  