<div class="socialBar">
    <div class="instagram-facebook">
        <a class="" href="https://www.instagram.com/kevcleanedit/" target="_blank"><i class="bi bi-instagram social-logos"></i></a>
        <a class="" href="https://www.facebook.com/profile.php?id=100089575480072"><i class="bi bi-facebook social-logos"></i></a>
    </div>
    <div class="email">
        <a class="emailLink" href="mailto:kevcleanedit@gmail.com">
            <p id="email"><i class="bi bi-envelope social-logos"></i> kevcleanedit&#64;gmail.com</p>
        </a>
        <p class="split" style="color: white; height: 50%;">|</p>
        <div class="phoneNumber">
            <a class="phoneLink" href="tel:+18456507804">
                <p id="phoneNumber"> <i class="bi bi-telephone social-logos"></i> +1 845-650-7804</p>
            </a>
        </div>
    </div>
</div>
