@if (users) {
    <div id="background">
        <div class="trans-background">
            <h1 id="heading" class="oswald-font">Here's what our satisfied clients are saying...</h1>
            <ngb-carousel [interval]="4000" pauseOnHover="false" [showNavigationArrows]="false">
                <ng-template ngbSlide *ngFor="let group of chunkedUsers">
                    <div class="container mt-5 mb-5">
                        <div class="row g-2">
                            <div class="col-md-4" *ngFor="let user of group">
                                <div class="card p-3 text-center">
                                    <div class="user-image">
                                        <img [src]="user.image" class="rounded-circle" height="50" width="50">
                                    </div>
                                    <div class="user-content">
                                        <h5 class="mb-0 oswald-font">{{ user.name }}</h5>
                                        <p>{{ user.description }}</p>
                                    </div>
                                    <div class="ratings">
                                        <i class="fa fa-star" *ngFor="let star of [].constructor(user.rating)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    }
    