<!-- <div id="parallaxBanner" class="video-aboutus-banner">
    <app-navbar></app-navbar>
  
    <video autoplay muted loop playsinline id="heroVideo">
      <source src="../../assets/hero-video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    
  
    <div class="container hero-container">
      <div class="hero-text text-center">
        <h1 class="title display-5 fw-bold lh-1 mb-5">Your Journey Starts Here</h1>
        <p class="blurb lead">Our trusted US developers build strong client relationships, helping you connect better with your customers.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <div class="call-btn">
            <a href="#contact">
              <button class="hero-btn">Free Website Template!</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="divider">
      <div class="divider-content">
        <p class="divider-header"></p>
      </div>
    </div>
  </div> -->


<app-hero></app-hero>  
<app-about></app-about>

<app-contact></app-contact>
<app-features></app-features>
<app-testimonials></app-testimonials>
