@import '../../_button';

.hero-content {
  position: absolute;
  z-index: 99;
  width: 100%;
}


.quotes-btn {
  border: none;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 2rem;
}

.text{
  margin-top: 50px;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */

.carousel-inner {
  height: 80vh;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 500px;
  /* Adjust based on your desired carousel height */
  background-size: cover;
  background-position: top; /* Changed from center to top */
}

.carousel-item:nth-child(1) {
  background-image: url('../../assets/mercedes-truck-in-back.jpg');
  height: 100%;
}

.carousel-item:nth-child(2) {
  background-image: url('../../assets/bmw.jpg');
  height: 100%;
}

.carousel-item:nth-child(3) {
  background-image: url('../../assets/RV.jpg');
  height: 100%;
}


.carousel-control-prev {
  background: none;
  z-index: 100;
}

.carousel-control-next {
  background: none;
  z-index: 100;
}

/* Add overlay */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(39, 39, 39, 0.6);
  /* Black with 50% transparency */
  z-index: 2;
  /* Ensure it's above the background image but below the content */
}


/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



.video-aboutus-banner {
  position: relative;
  height: 80vh;
  overflow: hidden;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

app-navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  flex: 1;
}

.hero-text {
  margin: auto;
}

.divider {
  position: relative;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, #16161600 0%, #161616 100%);
}

.divider-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.divider-header {
  margin: 0;
  padding: 20px;
  font-size: 32px;
}

.title {
  font-size: 64px;
}

.blurb {
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .hero-text .title {
    font-size: 48px;
  }

  .navbar-logo {
    margin: 0 !important;
  }

  .hero-btn {
    font-size: 24px;
  }
}

@media screen and (max-width: 460px) {

  .hero-text {
    margin: 0;
    margin-top: 60%;
  }
  .video-aboutus-banner {
    height: 750px;
  }

  .navbar-logo {
    height: 150px !important;
  }

  .container {
    margin: 0px !important;
  }
}

.call-btn {
  margin: auto;
}

.hero-btn {
  background-color: #ffffff;
  color: #b3cee3;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.navbar-logo {
  height: 220px;
  margin-left: 25%;
}

.nav-link {
  font-size: 24px;
  color: white;
}

.hero-btn {
  background-color: #b3cee3;
  color: white;
  font-size: 18px;
  margin-left: 15px;
}

.call-btn {
  display: flex;
}

@media screen and (max-width: 992px) {
  .collapse:not(.show) {
    display: none !important;
  }

  .call-btn {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .image-aboutus-banner {
    height: 900px;
  }

  .container {
    margin: 0px !important;
  }
}

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}

.call-btn {
  margin: auto;
}

.hero-btn {
  background-color: #ffffff;
  color: #b3cee3;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.navbar-logo {
  height: 200px;
  margin-left: 25%;
}

.nav-link {
  font-size: 24px;
  color: white;
}

.hero-btn {
  background-color: #f28c28 ;
  color: white;
  font-size: 24px;
  margin-left: 15px;
  height: 55px;
}

.call-btn {
  display: flex;
}

@media screen and (max-width: 992px) {
  .collapse:not(.show) {
    display: none !important;
  }

  .nav-pad {
    background-color: #333333be;
  }

  .nav-btn {
    display: none;
  }

  .call-btn {
    align-items: center;
    flex-direction: column;
  }
}

.container {
  margin-top: 150px;
}

.navbar-nav {
  text-align: center;
}

.navbar {
  margin: 0 !important;
}

